/* Barra de Navegação */

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid var(--vermelho);
  box-shadow: 0px 3px 30px var(--vermelho);
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: var(--branco);
  transition: transform 0.6s ease;
}

.header a:hover {
  color: var(--vermelho);
  transition: transform 0.6s ease;
}

.header li {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.header li:hover {
  transform: scale(1.1);
  color: var(--vermelho);
  text-shadow: 0 0 5px var(--vermelho);
}

.agora a {
  font-weight: 800;
  border-bottom: 2px solid var(--vermelho);
  color: var(--vermelho);
}

.header .container .navbar {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--branco);
  font-size: 16px;
}

.navbar li {
  margin-right: 10px;
}

.navbar .a_fichas li {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.navbar .a_fichas a {
  align-self: center;
  justify-self: center;
}

.logo img {
  width: 100px;
  height: max-content;
}

.header h1 {
  margin: 0;
}

.header .container .navbar .cadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
}

.header .container .navbar .icon_logout img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.header .container .navbar .icon_logout img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

/*Rodapé*/

.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--preto);
  height: 100%;
  color: var(--branco);
  border-top: 1px solid var(--vermelho);
  font-size: 15px;
  box-shadow: 0px -3px 30px var(--vermelho);
  margin: 0;
  box-sizing: border-box;
}

.footer .container {
  display: flex;
  margin: 0;
  align-self: center;
  justify-self: flex-start;
  width: 100%;
  height: 100%;
}

.footer .container .logo_footer {
  width: 100px;
  height: fit-content;
}

.footer .container .logo_footer img {
  width: 100px;
  height: fit-content;
}