/* Barra de Navegação */

:root {
  --tamanho-header: 80px;
  --tamanho-conteudoInicial: calc(100% - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100% - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100% - var(--tamanho-header) - var(--tamanho-footer) - 42px);
  --tamanho-footer: 65px;
  --vermelho: red;
  --verde: #2CFF05;
  --preto: black;
  --branco: white;
  --font: "Poppins", sans-serif;

}

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid var(--vermelho);
  box-shadow: 0px 3px 30px var(--vermelho);
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: var(--branco);
  transition: transform 0.6s ease;
}

.header a:hover {
  color: var(--vermelho);
  transition: transform 0.6s ease;
}

.header li {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.header li:hover {
  transform: scale(1.1);
  color: var(--vermelho);
  text-shadow: 0 0 5px var(--vermelho);
}

.agora a {
  font-weight: 800;
  border-bottom: 2px solid var(--vermelho);
  color: var(--vermelho);
}

.header .container .navbar {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--branco);
  font-size: 16px;
}

.navbar li {
  margin-right: 10px;
}

.navbar .a_fichas li {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.navbar .a_fichas a {
  align-self: center;
  justify-self: center;
}

.logo img {
  width: 100px;
  height: max-content;
}

.header h1 {
  margin: 0;
}

.header .container .navbar .cadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
}

.header .container .navbar .icon_logout img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.header .container .navbar .icon_logout img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

/*Rodapé*/

.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--preto);
  height: 110px;
  color: var(--branco);
  border-top: 1px solid var(--vermelho);
  font-size: 15px;
  box-shadow: 0px -3px 30px var(--vermelho);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
  right: 0;
}

.footer .container {
  display: flex;
  margin: 0;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100%;
}

.footer .container .git_sobre_mim {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 300px;
}

.footer .container .git_sobre_mim img:hover {
  color: var(--vermelho);
  transition: all 0.6s ease;
  cursor: pointer;
  text-shadow: 0 0 5px var(--vermelho);
  font-weight: 800;
}

.footer .container .git_sobre_mim img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  transition: all 0.6s ease;
  cursor: pointer;
}

.footer .container .git_sobre_mim img:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
}

.footer_sobremim:hover {
  color: var(--vermelho);
}

.footer_sobremim {
  border-bottom: 1px solid var(--vermelho);
  text-decoration: none;
  color: var(--branco);
}

.footer .container .logo_footer {
  width: 100px;
  height: fit-content;
}

.footer .container .logo_footer img {
  width: 100px;
  height: fit-content;
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1000000;
}

.modal .card {
  justify-content: center;
  align-items: center;
  background-color: var(--preto);
  box-shadow: 0px 0px 10px var(--vermelho);
  width: 30%;
  height: 45%;
  /* z-index: 100; */
}

.modal .card p {
  color: var(--branco);
}